<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

   
    <link href="~/Assit/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/Assit/css/sb-admin-2.min.css" rel="stylesheet">
    <link href="~/Assit/css/trangchu.css" rel="stylesheet" />
		<meta charset="utf-8">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="format-detection" content="telephone=no">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta name="author" content="">
	    <meta name="keywords" content="">
	    <meta name="description" content="">

	    <link rel="stylesheet" type="text/css" href="Content/css/normalize.css">
	    <link rel="stylesheet" type="text/css" href="Content/icomoon/icomoon.css">
	    <link rel="stylesheet" type="text/css" href="Content/css/vendor.css">
	    <link rel="stylesheet" type="text/css" href="Content/style.css">
        <script src="Scripts/js/modernizr.js"></script>

</head>
<style>
footer {

    background-color: #e1d5d5;
}
</style>
<body id="page-top">
    <div class="row1">
        <div class="col-md-10">
            @if (Session["taiKhoan"] != null)
            {
                @Html.Label("Xin chao:")@Session["ten"]
                @Html.ActionLink("Đăng xuất","DangXuat","KhachHang")

            }
            else
            {
                @Html.ActionLink("Đăng ký","DangKy","KhachHang")
                @Html.ActionLink("Đăng nhập","DangNhap","KhachHang")
            }

        </div>
        <div class="col-md-2">@Html.Action("GioHangPartial", "GioHang")</div>
    </div>
   


<header id="header">
		<div class="container">
			<div class="row">

				<div class="col-md-2">
					<div class="main-logo">
						<a href="index.html"><img src="images/main-logo.png" alt="logo"></a>
					</div>

				</div>

				<div class="col-md-10">
					
					<nav id="navbar">
						<div class="main-menu stellarnav">
							<ul class="menu-list">
								<li class="menu-item active"><a href="#home" data-effect="Home">Home</a></li>
								<li class="menu-item"><a href="#about" class="nav-link" data-effect="About">About</a></li>
								<li class="menu-item has-sub">
									<a href="#pages" class="nav-link" data-effect="Pages">Pages</a>

									<ul>
								        <li class="active"><a href="index.html">Home</a></li>
								        <li><a href="about.html">About</a></li>
								        <li><a href="styles.html">Styles</a></li>
								        <li><a href="blog.html">Blog</a></li>
								        <li><a href="single-post.html">Post Single</a></li>
								        <li><a href="shop.html">Our Store</a></li>
								        <li><a href="single-product.html">Product Single</a></li>
								        <li><a href="contact.html">Contact</a></li>
								        <li><a href="thank-you.html">Thank You</a></li>
								     </ul>

								</li>
								<li class="menu-item"><a href="#popular-books" class="nav-link" data-effect="Shop">Shop</a></li>
								<li class="menu-item"><a href="#latest-blog" class="nav-link" data-effect="Articles">Articles</a></li>
								<li class="menu-item"><a href="#contact" class="nav-link" data-effect="Contact">Contact</a></li>
							</ul>

							<div class="hamburger">
				                <span class="bar"></span>
				                <span class="bar"></span>
				                <span class="bar"></span>
				            </div>

						</div>
					</nav>

				</div>

			</div>
		</div>
	</header>
		
</div><!--header-wrap-->

<section id="billboard">

	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<button class="prev slick-arrow">
					<i class="icon icon-arrow-left"></i>
				</button>

				<div class="main-slider pattern-overlay">
					<div class="slider-item">
						<div class="banner-content">
							<h2 class="banner-title">Life of the Wild</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.</p>
							<div class="btn-wrap">
								<a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i class="icon icon-ns-arrow-right"></i></a>
							</div>
						</div><!--banner-content--> 
						<img src="images/main-banner1.jpg" alt="banner" class="banner-image">
					</div><!--slider-item-->

					<div class="slider-item">
						<div class="banner-content">
							<h2 class="banner-title">Birds gonna be Happy</h2>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eu feugiat amet, libero ipsum enim pharetra hac. Urna commodo, lacus ut magna velit eleifend. Amet, quis urna, a eu.</p>
							<div class="btn-wrap">
								<a href="#" class="btn btn-outline-accent btn-accent-arrow">Read More<i class="icon icon-ns-arrow-right"></i></a>
							</div>
						</div><!--banner-content--> 
						<img src="images/main-banner2.jpg" alt="banner" class="banner-image">
					</div><!--slider-item-->

				</div><!--slider-->
					
				<button class="next slick-arrow">
					<i class="icon icon-arrow-right"></i>
				</button>
				
			</div>
		</div>
	</div>
	
</section>


</div>
    <div class="row">
        <div class="col-md-3">

            @Html.Action("chude", "BookStore")

            @Html.Action("nxb", "BookStore")
        </div>
        <div class="col-md-9">@RenderBody()</div>
    </div>
	
<footer id="footer">
	<div class="container">
		<div class="row">

			<div class="col-md-4">
				
				<div class="footer-item">
					<div class="company-brand">
						<h1>NHÀ SÁCH</h1>
						<p>Nơi để bán sách để tìm đến nguồn tri thức  vô tận, nơi mà bạn sẽ đọc để sẻ chia tri thức cho nhau bla bla vân vân mây mây hoa lá cành xuân hoa đoà cành tơ liễu</p>
					</div>
				</div>
				
			</div>

			
			<div class="col-md-33">

				<div class="footer-menu">
					<h1>SVTH</h1>
					<ul class="menu-list">
						<li >
							<a href="#">Họ và tên: Phạm Minh Tuấn</a>
						</li>
						<li class="menu-item">
							<a href="#">lớp: 09CNPM3</a>
						</li>
						<li class="menu-item">
							<a href="#">MSSV: 0950080115</a>
						</li>

					</ul>
				</div>

			</div>
			

	</div>
</footer>

<div id="footer-bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<div class="copyright">
					<div class="row">

						<div class="col-md-6">
							<p>© 2022 All rights reserved. Free HTML Template by <a href="https://www.templatesjungle.com/" target="_blank">TemplatesJungle</a></p>
						</div>

						

					</div>
				</div><!--grid-->

			</div><!--footer-bottom-content-->
		</div>
	</div>
<script src="Scripts/js/jquery-1.11.0.min.js"></script>
<script src="Scripts/js/plugins.js"></script>
<script src="Scripts/js/script.js"></script>

</body>
</html>	
